.messageLink a{
	color: black;
}

.messageLink a:hover{
	color: #3366BB;
}

.messageIcons a{
	color: gray;
}

.messageIcons a:hover{
	color: #3366BB;
}

.retweet a:hover{
	color: green;
}

.like a:hover{
	color: purple;
}

.navTab :hover{
	color: #3366BB;
}

.navTabAnimation{
	height:60px;
}

.navTabAnimation > a{
	padding-right:0px !important;
	padding-left:0px !important;
	padding-bottom:7px !important;
	margin-right:15px;
	margin-left:15px;
}

.navTabAnimation > span{
	background-color:blue;
	width:100%;
	height:0px;
}

::-webkit-file-upload-button { cursor:pointer; }