.like a:hover{
	color: purple;
}

.messageLink a{
	color: black;
}

.messageLink a:hover{
	color: #3366BB;
}

.messageIcons a{
	color: gray;
}

.messageIcons a:hover{
	color: #3366BB;
}

.modal-icons
{
	padding-right: 15px;
}

.modal-icons > button
{
	color:#3366BB;
}

.modal-icons > p
{
	color:#3366BB; 
	font-size: 15pt;
}

.modal-icons > span
{
	display: block;
}

.modal-icons > p > a > span
{
	display: block; 
	padding-right: 30px;
}

.modal-icons-preview
{
	padding:15px 0px 15px 0px;
}

.nav-animation li {
	height: 60px;
}

.nav-animation li>a {
	margin-right: 15px;
	margin-left: 15px;
	padding-bottom: 7px;
	padding-left: 0px;
	padding-right: 0px;
}

.nav-animation li>a>span {
	font-size: 14pt;
	height: 80px;
}

.nav-animation li>span {
	background-color: blue;
	height: 0px;
	width: 100%;
}

.navbar-brand {
	position: absolute;
	width: 100%;
	left: 0;
	text-align: center;
	margin: 0 auto;
}

.navbar-user {
	background-color: white;
	border: none;
	border-bottom: 1px double #656464;
	margin: 0px;
}

.navTab :hover{
	color: #3366BB;
}

.navTabAnimation{
	height:50px;
}

.navTabAnimation > a{
	padding-right:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-right:15px;
	margin-left:15px;
}

.navTabAnimation > span{
	background-color:blue;
	width:100%;
	height:0px;
}

.open>a {
	background-color: transparent !important;
}

.retweet a:hover {
	color: green;
}

.userBackgroundColorScheme
{
	background-color: #3366BB;
}

.user-dropdown>a {
	margin-bottom: 10px;
	margin-top: 8px;
	padding: 0px !important;
}

.user-dropdown a>span {
	color: gray;
	font-size: 10pt;
}

.user-dropdown img {
	height: 35px;
	margin-right: 15px;
	width: 35px;
}

.user-modal-body
{
	background-color:#e9f5fd;
	padding-bottom:60px;
}

.user-modal-textarea
{
	position: relative;
}

.user-modal-textarea > textarea
{
	height: 40px;
	overflow: hidden;
	padding-right: 30px;  
	padding-top: 10px; 
	resize:none; 
}

.user-palette {
	width: 30px;
	height: 30px;
	margin: 1px;
	border-radius: 5px;
	display: inline-block;
}

.user-search {
	position: relative;
}

.user-search>i {
	cursor: pointer;
	font-size: 13pt;
	padding: 8px;
	position: absolute;
	right: 0px;
}

.user-search>input {
	border-radius: 20px;
}

.userTextColorScheme
{
	color: #3366BB;
}

.write-message {
	color: white;
}

.write-message>span {
	padding-left: 5px;
}

::-webkit-file-upload-button { cursor:pointer; }


